* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #4c4370;
  background-color: #fbfaff;
}

.white-bakground {
  color: #3d3756;
}
.dark-background {
  color: white;
}

.roboto-thin {
  font-weight: 100;
}
.roboto-medium {
  font-weight: 400;
}
.roboto-bold {
  font-weight: 700;
}

h2 {
  font-weight: 100;
  font-size: 3.1rem;
}

h1 {
  font-weight: 100;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 32px;
  padding-block: 75px;
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding-inline: 20px;
    padding-block: 60px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-block: 45px;
    padding-inline: 14px;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #fbfaff;
  border-bottom: 0.5px solid #3a376c;
}

/* NAVBAR */
.navbar-wrapper {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.company-logo img {
  display: block;
}

/* NAV MENU */
.navbar-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* NAV LIST */
.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  color: #433c4e;
  font-size: 0.74rem;
  font-weight: 600;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 15px;
}
.nav-list li {
  height: 100%;
}

.down-arrow {
  margin-left: 6px;
}

.mail-logo {
  display: flex;
  align-items: center;
}
.navbar-wrapper,
.navbar-menu,
.nav-list {
  display: flex;
  align-items: stretch;
}

.nav-list a:hover {
  background-color: #f6f7fc;
  transition: all 0.5s ease-in;
}

@media (max-width: 840px) {
  .nav-list {
    display: none;
  }
  .mail-logo,
  .company-logo {
    margin-inline: 10px;
  }
}

/* HERO SECTION */
.hero-section {
  position: relative;
  padding-block: 40px;
  min-height: calc(100vh - 65px);
  background: url("./images/img-1.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  color: #fff;
}

.service-section::before,
.achievement-section::before,
.hero-section::before,
.testimonial-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(17, 21, 52, 0.87);
  z-index: 1;
}

.hero-description {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.hero-heading {
  font-size: 4rem;
  line-height: 1.2;
  max-width: 800px;
}

.block {
  display: block;
}

.btn {
  display: inline-block;
  padding: 29px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.7rem;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  text-align: center;
  border: none;
}

.btn.white-outline {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 18px 29px;
}

.btn.purple-outline {
  background: transparent;
  border: 2px solid #4a445c;
  color: #4a445c;
  box-shadow: 0 2px 3px rgba(74, 68, 92, 0.2);
  width: 10rem;
  padding: 19px 29px;
  font-size: 0.7rem;
}

.btn:hover {
  background-color: #d0a806;
  color: #fff;
  border-color: #d0a806;
}

@media (max-width: 576px) {
  .hero-heading {
    font-size: 2.3rem;
    max-width: 100%;
  }
}

/* HERO BUTTONS */
.hero-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 160px;
  flex: 1;
  z-index: 2;
}

/* DOWN ARROW */
.hero-navigator {
  position: relative;
  z-index: 2;
  padding: 15px;
  border-radius: 50%;
}

.hero-navigator:hover {
  background-color: rgba(17, 21, 52, 0.8);
  transition: background-color 0.3s ease;
}

.hero-section p {
  width: 50%;
  line-height: 23px;
}
.hero-navigator a:hover {
  background-color: rgba(17, 21, 52, 0.8);
}

/* INFO SECTION */

.info-log {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 32px;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.info-text p {
  color: #a09ea6;
  font-size: 0.95rem;
  line-height: 1.5rem;
}

.info-feature-section {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #656467;
}

.info-features {
  display: flex;
  align-items: center;
  gap: 16px;
}

.info-img {
  grid-column: 2/4;
}

.info-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .info-log {
    grid-template-columns: 1fr;
  }
  .info-img {
    grid-column: auto;
  }
}

/* Service Section */
.service-section {
  position: relative;
  min-height: 80vh;
  background: url("./images/img-2.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.service-context {
  max-width: 600px;
}

.services {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 56px;
}

.service-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.service-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}
@media (max-width: 768px) {
  .service-list {
    flex-direction: column;
  }
}

.service-list p {
  line-height: 24px;
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 1px;
}

.service-icon {
  height: 110px;
  width: 110px;
  position: relative;
  background-color: rgba(108, 109, 127, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}
.service-icon::after {
  content: "";
  height: 55px;
  width: 55px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.digital-marketing .service-icon::after {
  background-image: url("./images/icons/i-message.svg");
}
.ui .service-icon::after {
  background-image: url("./images/icons/i-sketch.svg");
}
.development .service-icon::after {
  background-image: url("./images/icons/i-feature.svg");
}
.achievements a {
  padding: 1.5rem;
  border-radius: 50%;
  background-color: rgba(108, 109, 127, 0.3);
  display: inline-block;
  margin-bottom: 32px;
}
.service a:hover,
.achievements a:hover {
  transition: background-color 0.3s ease;
  background-color: rgba(17, 21, 52, 0.8);
}

/* PRODUCT SECTION */

.product {
  position: relative;
}

/* TEXT */
.product-description {
  margin-bottom: 48px;
  max-width: 600px;
}

.product-description h2,
.pricing-section h2 {
  color: #4a445c;
}

.product-description p {
  font-size: 0.93rem;
  margin-top: 26px;
  color: #a19ca4;
}
.color {
  color: #4a445c;
  font-weight: 500;
}

/* MENU */
.product-menu-items {
  list-style: none;
  display: flex;
  flex: 1;
  gap: 10px;
  margin-bottom: 38px;
}

.product-menu-items a {
  text-decoration: none;
  padding: 30px 25px;
  font-weight: 600;
  font-size: 0.8rem;
  color: #000000;
  letter-spacing: 2px;
  display: block;
  min-width: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  .product-menu-items a {
    padding: 25px 18px;
    font-weight: 600;
    font-size: 0.7rem;
  }
}
.product-menu-items a:hover {
  background-color: rgba(240, 239, 244, 0.5);
  transition: all 0.3s ease-in;
}
/* GRID */
.products-img-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.products-img-list a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* IMAGE */
.products-img-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* FEATURED ITEMS */
.product-1 {
  grid-row: 1/3;
}

.product-7 {
  grid-row: 2/4;
  grid-column: 3/4;
}
@media (max-width: 940px) {
  .products-img-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .product-1 {
    grid-row: auto;
  }

  .product-7 {
    grid-row: auto;
    grid-column: auto;
  }
}
@media (max-width: 768px) {
  .products-img-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .product-1 {
    grid-row: auto;
  }

  .product-7 {
    grid-row: auto;
    grid-column: auto;
  }
}

/* OVERLAY */
.product-overlay {
  position: absolute;
  inset: 15px;
  background-color: rgba(17, 21, 52, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* CONTENT */
.overlay-content {
  text-align: center;
  color: #fff;
  transition: transform 0.3s ease;
}

.overlay-icon {
  display: inline-flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(208, 169, 4, 1);
  color: #fff;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
  font-weight: bold;
}

.overlay-content h4 {
  font-size: 1rem;
  margin-bottom: 4px;
}

.overlay-content p {
  font-size: 0.75rem;
  opacity: 0.8;
}

.product:hover .product-overlay {
  opacity: 1;
}

/* Avhievement-section */

.achievement-section {
  position: relative;
  min-height: 50vh;
  background: url("./images/img-4.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.achievement-icon {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: rgba(108, 109, 127, 0.3);
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.achievement-icon::after {
  content: "";
  position: absolute;

  width: 55px;
  height: 55px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.icon-team .achievement-icon::after {
  background-image: url("./images/icons/i-team.svg");
}

.icon-shield .achievement-icon::after {
  background-image: url("./images/icons/i-shield.svg");
}

.icon-diamond .achievement-icon::after {
  background-image: url("./images/icons/i-diamond.svg");
}

.icon-trophy .achievement-icon::after {
  background-image: url("./images/icons/i-trophy.svg");
}

.achievements p {
  font-size: 1.13rem;
}
.achievements h3 {
  font-size: 2.6rem;
}
.achievement-list {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  align-items: center;
}

@media (max-width: 768px) {
  .achievement-list {
    grid-template-columns: 1fr 1fr;
  }
}

.achievements:hover {
  color: #d8c201;
  transition: all 0.3s ease;
}

/* Pricing Section */

.pricing-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  text-align: center;
}

.pricing-header h2 {
  margin-bottom: 30px;
}

.subtitle {
  font-size: 0.95rem;
  font-weight: 300;
  color: #9d9ca7;
}

/* GRID */
.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.pricing-card {
  background: #fff;
  padding: 40px 32px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 1px 8px #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.pricing-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.pricing-card h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  color: #222032;
}

.card-desc {
  font-size: 0.9rem;
  color: #97959a;
  margin-bottom: 1.8rem;
  font-weight: 200;
}

.card-description ul li {
  color: #97959a;
  font-size: 1rem;
}

.price {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 12px;
  color: #222032;
}

.currency {
  font-size: 1rem;
}

.duration {
  font-size: 0.9rem;
  font-weight: 400;
  color: #222032;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0 0 32px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.features .muted {
  color: #c4c4d4;
  opacity: 0.4;
}
@media (max-width: 768px) {
  .pricing-grid {
    grid-template-columns: 1fr;
  }
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  position: relative;
  min-height: 80vh;
  background: url("./images/img-3.jpg") center/cover no-repeat;
}

/* CONTENT */
.testimonial-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
  position: relative;
  z-index: 2;
}

/* HEADER */

.testimonial-header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial-header {
  margin-bottom: 3rem;
}

.testimonial-header .subtitle {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #939eb6;
}

.testimonial-btns {
  display: flex;
}

.testimonial-btn {
  width: 70px;
  height: 70px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-btn.prev {
  background: #3a376c;
}

.testimonial-btn.next {
  background: rgba(208, 169, 4, 1);
}

.testimonial-btn img {
  width: 10px;
}

@media (max-width: 677px) {
  .testimonial-btn {
    width: 40px;
    height: 40px;
  }
  .testimonial-btns {
    justify-content: space-between;
    flex: 1;
  }
  .testimonial-header-nav {
    flex-direction: column;
    text-align: center;
  }
}

.testimonial-grid {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* CARD */
.testimonial-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 200px;
}

.testimonial-avatar {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}

.testimonial-card h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 400;
}

.company {
  font-size: 0.75rem;
  color: #b7b7d4;
}

.testimonial-text {
  margin-top: 19px;
  font-size: 0.9rem;
  line-height: 1.7;
  color: #939eb6;
  font-weight: 300;
}

/* BLOG SECTION */

.blog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-header h2 {
  margin-bottom: 32px;
}

.blog-header p {
  font-size: 0.95rem;
  color: #97959a;
  margin-bottom: 16px;
  font-weight: 200;
}

/* FLEX BLOG GRID */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
}

/* BLOG CARD */
.blog-card {
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 1px 8px #e0e0e0;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

/* IMAGE */
.blog-card img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* CONTENT */
.blog-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.blog-content h4 {
  color: #4a445c;
  font-size: 1.12rem;
  font-weight: 400;
}

.blog-content p {
  margin-bottom: 1rem;
  font-size: 0.95rem;
  font-weight: 200;
  color: #97959a;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: 1fr;
  }
}

.footer {
  background-color: #3a376c;
  color: #ffffff;
}

.footer-section {
  padding-block: 0;
}

/* TOP SECTION */
.footer-top {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-bottom: 80px;
}

/* LOGO */
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  margin-top: 0;
  height: auto;
}

.footer-logo span {
  font-size: 20px;
  font-weight: bold;
}

/* LINKS AREA */
.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col h4 {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  font-size: 0.8rem;
  letter-spacing: 1.2px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: inherit;
  text-decoration: none;
}

.footer-col ul li a:hover {
  opacity: 1;
}

/* NEWSLETTER */
.newsletter-box {
  display: flex;
  background: #ffffff;
  border-radius: 30px;
  overflow: hidden;
}

.newsletter-box input {
  border: none;
  outline: none;
  padding: 18px 18px;
  font-size: 1rem;
  flex: 1;
}

.newsletter-box img {
  display: block;
}

.newsletter-box button {
  background: #d0a904;
  border: none;
  padding: 0 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 20px;
  font-size: 12px;
  opacity: 0.3;
  letter-spacing: 2px;
}
