* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

.container {
  padding-top: 2rem;
  width: 60rem;
  margin: 0 auto;
}

.hero {
  background-color: #e60000;
  padding: 3rem;
  overflow: hidden;
}

.hero-text {
  float: left;
  width: 36rem;
}

.hero-text h1 {
  font-size: 2.2rem;
  margin: 1.5rem 0;
  font-weight: 400;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.5;
  width: 29rem;
  font-weight: 300;
}

.hero-logo {
  float: right;
  margin-right: 1.5rem;
}

main {
  min-height: 10rem;
}

.card-wrapper {
  background-color: #5c0d0d;
  overflow: hidden;
}

.info-card {
  float: left;
  width: 20rem;
  padding: 2rem;
  border-right: 0.2rem solid red;
}

.info-card:last-child {
  border-right: none;
}

.info-card h3 {
  font-size: 1.1rem;
  margin: 1rem 0 1.5rem;
  font-weight: 300;
}

.info-card p {
  font-size: 0.7rem;
  color: rgb(214, 130, 130);
  line-height: 1.2;
  height: 6rem;
}
