* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 600;
  font-size: large;
}

.page {
  padding-top: 2rem;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 4rem;
  background-color: #60d6e8;
  text-align: center;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.content {
  overflow: hidden;
  margin-bottom: 1rem;
}

.sidebar {
  float: left;
  width: 18rem;
  height: 22rem;
  background-color: #a6c76c;
  text-align: center;
  line-height: 22rem;
}

.content-area {
  float: right;
  width: 40rem;
}

.main-content {
  height: 14rem;
  background-color: #f5c83b;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 14rem;
}

.extra-content {
  height: 7rem;
  background-color: #9b9b9b;
  text-align: center;
  line-height: 7rem;
}

.footer {
  height: 4rem;
  background-color: #ffa500;
  text-align: center;
  line-height: 4rem;
}
